<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>EXAMEN CL3 VillenaLopez</span>
    <span class="example-spacer"></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button mat-button [matMenuTriggerFor]="menu">MENU</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="irPreguntaUno()">PREGUNTA 1</button>
        <button mat-menu-item (click)="irPreguntaDos()">PREGUNTA 2</button>
    </mat-menu>

  </mat-toolbar>
 <router-outlet/> 
  